In [1]:
import numpy as np
import pandas as pd

path = '/home/imaging_mfish/surveyNAS05/scratch/human/AD_MTG/reference_data/pseudotime.npy'
pseudotime = np.load(path)
pseudotime = pd.DataFrame(pseudotime.T, columns=["uwa", "donor_pseudotime"]) 
pseudotime["uwa"] = [str(i).replace(".0", "") for i in pseudotime["uwa"]] 
pseudotime["donor_pseudotime"] = 1 - pseudotime["donor_pseudotime"]

In [5]:
comparison_path = '/home/imaging_mfish/surveyNAS05/scratch/human/AD_MTG/reference_data/pseudotime.csv' #Brian's version
comp_pseudotime = pd.read_csv(comparison_path, index_col=0)

In [3]:
pseudotime

     uwa  donor_pseudotime
0   7323          0.182370
1   7322          0.180319
2   7129          0.204485
3   7197          0.261645
4   6997          0.149616
..   ...               ...
79  7268          0.910112
80  7161          0.911019
81  7119          0.928513
82  6948          0.922354
83  6965          0.924065

[84 rows x 2 columns]

In [6]:
comp_pseudotime

     uwa  donor_pseudotime
0   7323          0.182370
1   7322          0.180319
2   7129          0.204485
3   7197          0.261645
4   6997          0.149616
..   ...               ...
79  7268          0.910112
80  7161          0.911019
81  7119          0.928513
82  6948          0.922354
83  6965          0.924065

[84 rows x 2 columns]