In [22]:
import pandas as pd
import gzip
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%load_ext autoreload
%autoreload 2

In [14]:
data_file = 'P:/BGI_data/P21Z10200N0208_ASZ2022051301/Result/cDNAC4/02.Lasso/L20220515003.export.bin1.gem'

In [16]:
data = pd.read_table(data_file)
print(data.shape)
data.head()

(66963090, 4)

          geneID      x      y  MIDCounts
0  0610005C13Rik  13648  20614          1
1  0610005C13Rik  20717  20244          3
2  0610005C13Rik  12191  16839          2
3  0610005C13Rik  19794  21190          1
4  0610005C13Rik   9582   9912          1

In [25]:
data.columns

Index(['geneID', 'x', 'y', 'MIDCounts'], dtype='object')

In [20]:
data[(data['x']==20717) & (data['y']==20244)]

                 geneID      x      y  MIDCounts
1         0610005C13Rik  20717  20244          3
2263933            Akt2  20717  20244          3
7288361            Bex1  20717  20244          1
13271091          Cpeb1  20717  20244          2
13405958         Crebbp  20717  20244          1
31698372         Malat1  20717  20244          2

In [ ]:
fig,ax = plt.subplots(figsize=(20,20))
sns.scatterplot(data=data, x='x', y='y', c=data['MIDCounts'], alpha=0.1, ax=ax)